.container{
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    gap: 10px;
    overflow: visible;
}

.controller{
    position: relative;
    box-sizing: border-box;
    width: 30%;
    height: 700px;
    padding: 10px;
    border: 2px solid black;
    background-color: rgb(222, 222, 222);
    overflow: scroll;
}

.controller i{
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
    font-size: 21px;
}
.controller i:hover{
    color: green;
}

.screen{
    flex: 1;
    box-sizing: border-box;
    height: 700px;
    border: 2px solid black;
    overflow: scroll;
}

.divTypeMenu{
    position: absolute;
    height: 200px;
    width: 100px;
    padding: 10px;
    left: 50px;
    top: 220px;
    border: 2px solid black;
    background-color: white;
}

.divTypeMenu i {
    position: absolute;
    right: 5px;
    top: 10px;
    color: red;
    cursor: pointer;
}

.controllerDiv{
    width: 70px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 50px;
    position: relative;
}

.box{
    border: 1px solid black;
    position: relative;
    cursor: pointer;
}

.controllerDiv p {
    color: black;
}

.controllerDiv > *:not(:first-child) {
    position: relative;
    left: 110px;
}

.screenDiv {
    margin: 5px;
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    position: relative;
    vertical-align: top;
}